<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
        <p>Experienced principal backend/polyglot software engineer with a soft spot for functional programming and expertise in JVM languages. Deeply passionate about Agile, XP, DevOps (and automating everything), enabling quick and safe delivery, providing a tight feedback loop to demonstrate value and iterate.</p>

        <p>Experience working on both Product (with embedded DevOps) and as part of core SRE/DevOps teams, my ideal team is one where we're empowered to do first-class software engineering, and empathise with the needs of our users. I have production experience working in Java, Scala, Python, Ruby and JavaScript/TypeScript (node, react). Making use of GCP and AWS cloud platforms and automating via CloudFormation, Terraform and Google Cloud Deployment Manager.</p>

        <p>A vocal proponent of equality and diversity, you'll find me involved in all LGBTQ* efforts/groups, initiatives to diversify background represented and using my position to ensure diverse voices are empowered to contribute to any conversation.</p>

        <p>My current role involves the development of all aspects of the internal platform as a service. The platform uses AWS and DataDog to provide an opinionated containerised pipeline from dev-to-prod. Most recently I have lead efforts to enable seamless multi-region active-active deployment of applications, and work to automate/ease the scaling out of the platform into multiple AWS accounts.</p>

        <p>My background has always been in distributed systems, particularly in making them resilient, leading me towards DevOps, containers, cloud computing, and automation at all levels. My functional programming experience is primarily with Scala (Java and JavaScript in previous roles), more recently I have begun learning Haskell to underpin FP concepts and type-level programming better, and I’m very keen for opportunities to apply it in production.</p>

        <p>Academic background: PhD in the application of cryptographic protocols to asynchronous message-based interactions to transparently provide guaranteed fairness and accountability to exchanges. Followed by a post-doctoral research associate role consulting with various groups around the university and industry to provide consultation and development of scientific workload processing systems.</p>
</div><!--//summary-->
</section><!--//section-->
