<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
        <p>London based, polyglot software engineer and platform/SRE engineer with 2 years tech lead experience. I've a soft spot for immutability and automation, particularly trying to make distributed systems as resilient as possible. Deeply passionate about empowering good team culture and practices (inclusivity, autonomy, agile, devops) and the benefits they bring to a team.</p>

        <p>Experience working on Product teams practicing embedded DevOps and on dedicated platform engineering/SRE teams. My ideal role is a team where we are empowered to empathise with the end users (e.g., treating internal platforms and frameworks as products) and practice excellent software engineering to meet those needs. I have production experience working in Scala, Python, Java, Ruby and JS/TS, using Docker, k8s, ECS, GKE on AWS and GCP cloud platforms and automating everything from infrastructure up to applications.</p>

        <p>A vocal proponent of equality and diversity, you'll find me involved in workplace LGBTQ* efforts/groups and initiatives to diversify backgrounds represented, using my position to try and ensure diverse voices are empowered to contribute to any conversation.</p>

        <p>Details of my roles, responsibilities, tools and technologies are detailed below.</p>

        <p>My background has always been in distributed systems, particularly in making them resilient, leading me towards DevOps, containers, cloud computing, and automation at all levels. My experience with functional programming instilled the values of immutability, which combined with automation led nicely to capturing immutable infrastructure-as-code.</p>

        <p>Academic background: PhD in the application of cryptographic protocols to asynchronous message-based interactions to transparently provide guaranteed fairness and accountability to exchanges. Followed by a post-doctoral research associate role interacting with various groups around the university and industry to provide consultation and development of scientific workload processing systems.</p>
</div><!--//summary-->
</section><!--//section-->
