<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
        <p>Experienced polyglot software engineer with a soft spot for functional programming and expertise in JVM languages. Deeply passionate about Agile, XP, DevOps (and automating everything) and the benefits they bring to a team.</p>

        <p>Experience working on Product and Data teams practicing embedded DevOps (you build it, you run it) and dedicated platform engineering teams. My ideal role would be a combination of Scala and more typical platform/infrastructure development. I have production experience working in Java, Scala, Python, Ruby and JavaScript/TypeScript (node, react). Making use of GCP and AWS cloud platforms and automating via CloudFormation and Terraform.</p>

        <p>A vocal proponent of equality and diversity, you'll find me involved in workplace LGBTQ* efforts/groups, initiatives to diversify backgrounds represented, and using my position to ensure diverse voices are empowered to contribute to any conversation.</p>

        <p>Details of my roles, responsibilities, tools and technologies are detailed below.</p>

        <p>My background has always been in distributed systems, particularly in making them resilient, leading me towards DevOps, containers, cloud computing, and automation at all levels. My functional programming experience is primarily with Scala (Java and JavaScript in previous roles). Recently I have been learning Haskell (to better underpin my FP understanding) and Rust (as a compiled language suitable for both app and systems level programming), and I’m very keen for opportunities to learn and wield them in production.</p>

        <p>Academic background: PhD in the application of cryptographic protocols to asynchronous message-based interactions to transparently provide guaranteed fairness and accountability to exchanges. Followed by a post-doctoral research associate role interacting with various groups around the university and industry to provide consultation and development of scientific workload processing systems.</p>
</div><!--//summary-->
</section><!--//section-->
