<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">PhD, Computing Science</h3>
                <div class="time">2007 - 2012</div>
            </div><!--//upper-row-->
            <div class="company">Newcastle University, Newcastle upon Tyne</div>
        </div><!--//meta-->
        <div class="details">
                <p>Full time PhD, thesis was titled 'Middleware to Support Accountability of Business to Business Interactions' and focussed on the application of cryptographic protocols to provide 'fairness' and 'accountability' to message based interactions (primarily over message oriented middleware).</p>

                <p>The PhD was jointly sponsored/funded by EPSRC (Engineering and Physical Sciences Research Council) and RedHat.</p>

                <p>The work involved a study of technical standards relating to messaging (JMS, AMQP, Amazon SQS/SNS), business-to-business messaging and conversations (e.g., OASIS ebXML, RosettaNet) and ways in which protocols providing fairness and/or accountability (e.g., fair exchange, non-repudiation) could be applied in systems built on these technologies.</p>

                <p>A specific technical focus of this work was how to add these extra guarantees without compromising transparency and compatibility.</p>

                <p>The latter half of the project incorporated RESTful and cloud based technologies into solutions with a view to how adding features transparently could be used to provide augmented Platform as a Service offerings.</p>

                <p>Technologies used: Java, Java EE, Scala, Amazon AWS, AMQP, Linux, OSX.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">MSc, Systems Design for Internet Applications</h3>
                <div class="time">2006 - 2007</div>
            </div><!--//upper-row-->
            <div class="company">Newcastle University, Newcastle upon Tyne</div>
        </div><!--//meta-->
        <div class="details">
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">BSc, Computing Science (Distributed Systems)</h3>
                <div class="time">2003 - 2006</div>
            </div><!--//upper-row-->
            <div class="company">Newcastle University, Newcastle upon Tyne</div>
        </div><!--//meta-->
    </div><!--//item-->

</section><!--//section-->
