<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2016 - Present</div>
            </div><!--//upper-row-->
            <div class="company">OVO Energy, London</div>
        </div><!--//meta-->
        <div class="details">
            <p>Engineer at OVO Energy leading development on the Live product, whose mission is to support the real-time collection of high granularity Energy usage data (thousands of distributed devices) and provide insights to customers and the rest of the business.</p>
            
            <p>Core team stack consists of Scala, Akka (streams, kafka, http) services, Kafka, Spark, InfluxDB, Cassandra, Grafana, Kapacitor, and AWS DynamoDB, S3, SQS, and SNS. All deployed into AWS, infrastructure captured in code and automation at all levels, fierce proponent of Agile, XP, DevOps, and TDD/BDD. All services deployed as containers using CloudFormation and AWS ECS/ECR.</p>

            <p>Beyond my team and product, I lead efforts to help teams effectively and quickly deliver cloud based architectures (applying DevOps principles), and lead the migration from a single shared AWS into multiple team specific AWS accounts educated teams on the use of container technologies. I was also involved in the bootstrapping and proof of concept work around an internal data lake project, allowing multiple teams to easily stream their data and make it available for insight throughout the business, reducing turnaround times and increasing flexibility.</p>
            
            <p>I also led the creation of a squad across multiple teams to address cross-cutting concerns with the overall customer experience, leading to the identification of issues that didn’t fit within any single team’s remit, resulting in the creation of a team whose remit was holistic oversight of the customer experience, and improved feedback from customers.</p>

            <p>Bootstrapped and developed proof of concepts of sharing team data into a centralised data lake, demonstrating the ease and value of doing so to other teams. This allowed BI to completely rework their pipeline for generating reports and insight into business wide data, increasing flexibility and massively reducing turnaround time.</p>
            
            <p>Wrote internal tooling (using Python and CloudFormation) to enable teams to quickly deploy their services into AWS using Docker (AWS ECS) facilitating the automated (and repeatable) creation of multiple environments.</p>
            
            <p>Educated teams on the effective use of containerisation in a cloud environment, and particularly the use of containers to run JVM applications.</p>
            
            <p>Drove efforts in all teams to capture existing services and infrastructure as code, providing disaster recovery likely to arise from multiple teams using a single shared AWS account.</p>
            
            <p>Collaborated to bootstrap internal data platform in Google Container Service, leveraging my experience with containerisation and automation to easily capitalise on the flexibility offered by Kubernetes.</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Software Engineer</h3>
                <div class="time">2015 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">BBC, MediaCityUK</div>
        </div><!--//meta-->
        <div class="details">
                <p>Senior Developer at the BBC working under the Content Discovery group covering a variety of tools and technologies to support the BBC Homepage, global Navigation, BBC Online Search (used across the site and other apps including iPlayer) and iOS/Android BBC+ app. We adopt a DevOps-first mentality to development and apply lean principles to provide MVPs demonstrating value before iterating upon them.</p>

                <p>Lead on technology choices and implementation of a complete migration of the Search systems from an in house platform to AWS, bringing a number of benefits including: use of an open source search engine, heavy use of AWS Cloud services to decouple and allow scaling both up and out with ease.</p>

                <p>Implemented a new Cloud based pipeline for ingesting content from editorial teams that was scalable and capitalised on serverless computing. This pipeline exposes a simple API that feeds into an AWS lambda chain (with SQS/SNS/S3 for intermediate storage and message passing) and allows us to add new final destinations with ease, and without interruption of service. This pipeline made use of Python for the Lambda code and also the deployment into AWS. Also constructed a Dockerised test harness for repeatable and portable testing of AWS lambda functions in our CI pipeline.</p>

                <p>As a 10% R&D project I collaborated to roll out a "toolshed" project which allowed us to rapidly develop prototypes in Docker containers and deploy them into the toolshed to be evaluated, or used where needed (e.g., dashboards, throwaway tools). I also worked across multiple projects to provide a Python libraries to help us create repeatable and portable deployment pipelines, and promoted the use of Jenkins pipelines.</p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">2014 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">BBC, MediaCityUK</div>
        </div><!--//meta-->
        <div class="details">
                <p>Worked under the Content Discovery team on feature development across Homepage and Search services (Java, Scala, Node.js). Spent a lot of time making deployments and testing automated. Team norms were to use Cucumber for BDD which ran under Ruby, and language appropriate libraries for TDD (e.g., JUnit in Java).</p>
                
                <p>Began to introduce Docker and Vagrant into the projects to provide an automated mechanism for bootstrapping development environments which provided repeatable and portable deployments to improve testing, but also allowed on-boarding new team members a much less painful experience.</p>
                
                <p>
                Tools and techs: Java 6, Java 8, Scala, Node.js (0.10), Ruby, Cucumber, Python 2.7, Python 3, Spring, Spring Boot, Maven, Git, Subversion, GitHub, JIRA, Confluence. Kanban, Scrum (CSM), TDD, BDD</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Postdoctoral Research Associate</h3>
                <div class="time">2011 - 2014</div>
            </div><!--//upper-row-->
            <div class="company">Newcastle University, Newcastle upon Tyne</div>
        </div><!--//meta-->
        <div class="details">
                <p>Part of a research group within Newcastle University called the Digital Institute whose remit is to collaborate with industry and other academic units to provide consulting and development for varying projects in a wide range of disciplines.</p>
                
                <p>Main development focussed on a JavaEE based scientific workflow processing system supporting the generation and tracing of experimental data, allowing derivative experiment use to be tracked and audited.</p>

                <p>Collaborative project with IBM on migrating psychological model evaluation from a desktop environment to a massively parallelised cloud environment (AWS), allowing them to effectively test tens of thousands of variations in seconds.</p>
                
                <p>In this role I developed communication skills through consulting responsibilities (e.g., requirements gathering and bridging communication gaps between technical and non-technical audiences) and meeting prospective collaborators.</p>

                <p>Academic responsibilities including contributing and leading research papers, lecturing to undergrad and postgrad students, and mentoring.</p>
                
                <p>Techs used: Java, JavaEE, Angular, React, Scala, Groovy, Ruby, Python (SciPy), MySQL, Oracle, Postgres, Mongo, Node.js, GeoData, AWS.</p>
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->
