<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Tools &amp; Technologies</h2>
                <div class="skillset">
                    <p>Tools and techs that I have been most recently using in production:</p>
                <ul>
                    <li>Cloud (AWS, GCP)</li>
                    <li>Containers (Docker, Kubernetes)</li>
                    <li>Automation/DevOps (CloudFormation, Terraform)</li>
                    <li>JDK (Java, Scala)</li>
                    <li>Python</li>
                    <li>Ruby</li>
                    <li>JavaScript/TypeScript (React, Node)</li>
                    <li>Haskell (hobbyist)</li>
                    <li>Messaging (Kafka, NSQ, SQS/SNS)</li>
                    <li>Event Driven Architectures (CQRS, Avro)</li>
                    <li>Reactive/Stream Processing (Akka Streams, Akka Http, reactive-kafka)</li>
                    <li>Asynchronous/Non-blocking Systems</li>
                    <li>Search (ElasticSearch, Solr)</li>
                    <li>NoSQL (InfluxDB, Cassandra)</li>
                    <li>SQL (Postgres, MySQL)</li>
                    <li>Agile (Scrum, Kanban, CSM)</li>
                    <li>Automation (everything!)</li>
                    <li>Functional Programming</li>
                </ul>
                </div>
            </section><!--//skills-section-->
