<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Tools &amp; Technologies</h2>
                <div class="skillset">
                    <p>Tools and techs that I have been most recently using in production:</p>
                <ul>
                    <li>Cloud (AWS, GCP)</li>
                    <li>Containers (Docker, Kubernetes)</li>
                    <li>Automation/DevOps (CloudFormation, Terraform)</li>
                    <li>JDK (Java, Scala)</li>
                    <li>Kafka (Avro, Schema Registry)</li>
                    <li>Akka (Streams, http, reactive-kafka)</li>
                    <li>Agile (Scrum, Kanban, CSM)</li>
                    <li>Message oriented systems, Event Sourcing</li>
                    <li>Asynchronous/Non-blocking systems</li>
                    <li>Functional Programming</li>
                    <li>Automation (everything!)</li>
                    <li>Search (ElasticSearch, Solr)</li>
                    <li>NoSQL (InfluxDB, Cassandra)</li>
                    <li>JavaScript (React.js, Node.js)</li>
                    <li>Python</li>
                    <li>Haskell (hobbyist/internal)</li>
                </ul>
                </div>  
            </section><!--//skills-section-->
